footer {
    background: $footer-bg;
    color: $footer-text-color;

    // the following two lines fix the OSX bug of overly bolding text on dark background
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    padding: 15px 0;
    font-size: 0.9rem;

    h4 {
        font-size: 1.2rem;
    }

    ul {
        list-style-type: none;
        margin-left: 0;
    }

    a, a:visited {
        color: $white;
        &:hover {
            color: $brand-color;
            text-decoration: none;
        }
    }
    .col-md-24 {
        .btn-secondary {
            color: $brand-color;
        }
        .col-xs-24 {
            float: none;
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
        @include responsive($media-xsmall) {
            .col-sm-12 {
                width: 49.49%;
            }
        }
        @include responsive($media-small) {
            .col-md-6 {
                width: 24.49%;
            }
        }
        @include responsive($media-desktop) {
            .col-lg-6 {
                width: 24.49%;
            }
        }
    }
}