/**
 * Site header
 */

#home-page {
    @include responsive($media-custom, 1200px) {
        .container {
            max-width: 1400px;
        }
    }
}
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 86px;
    background: $site-header-background;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 0.2s ease-in-out;
    @include _transition(all 0.2s ease-in-out);
    .menu-wrapper {
        padding: 0 10px;
        position: relative;
    }
    &.scroll-active {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 56px;

        .site-title {
            font-size: 26px;
            img {
                max-width: 65px;
            }
        }
        .site-nav {
            margin-top: 0px;
            @include responsive($media-small) {
                margin-top: 12px;
            }
        }
    }

    .site-title {
        font-size: 33px;
        font-weight: 300;
        line-height: 56px;
        margin-bottom: 0;
        float: left;
        @include _transition(all 0.2s ease-in-out);
        text-decoration: none;

        &,
        &:visited {
            color: $grey-color-dark;
        }
        img {
            max-width: 86px;
            @include _transition(all 0.2s ease-in-out);
        }
    }

    .site-nav {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 35px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }
        .trigger {
            clear: both;
            display: none;
            @include responsive($media-small) {
                clear: both;
                display: block;
            }
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            float: none;
            display: block;
            border: none;
            background: #fff;
            color: $menu-color;
            line-height: $base-line-height;
            padding: 5px 10px;
            margin-left: 20px;
            text-decoration: none;
            &:not(:last-child) {
                margin-right: 0;
            }
            @include responsive($media-small) {
                float: left;
                background: none;
                // Gaps between nav items, but not on the last one
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
            &:hover {
                color: darken($menu-color-hover, 5%);
            }
        }

        @include responsive($media-small) {
            float: right;
            line-height: 56px;
            margin-top: 12px;
            position: initial;
            background: none;
            border: none;

            .menu-icon {
                display: none;
            }
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
    @include responsive($media-small) {
        float: left;
        margin-bottom: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.footer-col-1,
.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

@include responsive($media-tablet) {
    .footer-col-1 {
        width: -webkit-calc(35% - (#{$spacing-unit} / 2));
        width:         calc(35% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        width: -webkit-calc(20% - (#{$spacing-unit} / 2));
        width:         calc(20% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(45% - (#{$spacing-unit} / 2));
        width:         calc(45% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    margin-top: 86px;

    .text-highlighted {
        cursor: pointer;
        border-bottom: 1px dotted #b3b3b3;
        @include _transition(all 0.2s ease-in-out);
        &:hover {
            border-color: $black;
        }
        &.text-selected {
            font-weight: 400;
            border-bottom: 1px solid #333;
            color: $text-highlight;
        }
    }
    .code-display {
        margin-top: 20px;
        .show-highlighted-text {
            margin-top: 0px;
            font-size: 0.8rem;
            color: $text-highlight;
            @include _transition(all 0.2s ease-in-out);
        }
    }
    .min-300 {
        min-height: 300px;
    }

    .home {
        .min-300 {
            margin-bottom: 20px;
        }

        .block-lists.site-list {
            padding: 20px 0;
            ul {
                list-style: none;
                margin-left: 0;
                li {
                    &.col-lg-6.col-sm-12.col-xs-24 {
                        padding-left: 13.75px;
                        padding-right: 13.75px;
                    }
                    >a {
                        display: block;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .home-site-item {
        display: table;
        position: relative;
        min-height: 492px;
        margin-bottom: 20px;
        width: 100%;
        &:hover {
            .block-content {
                u {
                    text-decoration: underline;
                }
            }
            .block-image::before {
                opacity: 0.15;
            }
        }
        .block-header {
            display: block;
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            text-align: center;
            padding: 0 15px;
            >span {
                position: relative;
                display: inline-block;
                padding: 10px 20px;
                background: #c3c3c3;
                color: $white;
                font-size: 15px;
            }
        }
        .block-image {
            @include responsive-image();
            img {
                width: 100%;
            }
            z-index: -1;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: #000;
                opacity: 0;
                @include _transition(all 0.2s ease-in-out);
            }
        }
        .block-content {
            display: table-cell;
            vertical-align: bottom;
            color: #333333;
            text-align: center;
            padding: 0 15px 15px;
            u {
                text-decoration: none;
            }
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    line-height: 1;
    @include responsive($media-tablet) {
        font-size: 42px;
    }
}