/**
*
* mixins.scss
*
* Contains different type of functions
*
* Project: Base
* Author: Chintan Kotadia <chintankotadia13@gmail.com>
*/

/**
 * Following mixin handles responsive media screen from mobile first to desktop
 */

@mixin _media($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin responsive($media, $custom-width: '') {
    @if $media == xsmall {
        @include _media($xsmall-screen) {
            @content;
        }
    }
    @else if $media == small {
        @include _media($small-screen) {
            @content;
        }
    }
    @else if $media == tablet {
        @include _media($tablet-screen) {
            @content;
        }
    }
    @else if $media == desktop {
        @include _media($desktop-screen) {
            @content;
        }
    }
    @else if $media == custom {
        @include _media($custom-screen) {
            @content;
        }
    }
}

@mixin _transition($transition: none) {
    @include _prefixer(transition, $transition, webkit moz ms o spec);
}

@mixin responsive-image() {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    overflow: hidden;
    img {
        position: relative;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        width: auto;
        max-width: none;
        @include _transform(translateX(-50%));
        display: block;
        height: auto;
    }
}

@mixin _transform($property: none) {
  // none | <transform-function>
  @include _prefixer(transform, $property, webkit moz ms o spec);
}

@mixin _prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}