/**
*
* pricing.scss
*
* Contains styles of pricing table
*/

$highlighted-color: #f37b53;
$price-background: #f79d67;

$plans: #005C5A #ED4D13 #199C7B #F37100;

.glyphicon {
    &.glyphicon-chevron-down, &.glyphicon-chevron-up {
        position: absolute;
        top: 8px;
        right: 4px;
        cursor: pointer;
    }

    &.glyphicon-chevron-down {
        @include opacity(0.5);
    }
}

%common-price-rate {
    .price-rate, .price-rate-annual {
        display: inline-block;
        height: auto !important;
    }
    .price-rate {
        display: none;
    }
}

.pricing-container {
    .row-item {
        width: 100%;
        .col-price {
            position: relative;
            vertical-align: top;
            text-align: center;
            border-left: 2px solid $white;
            padding: 6px;
            word-break: break-word;
            @include responsive($media-xsmall) {
                word-break: initial;
            }
        }
        &.row-simple-text {
            .col-price {
                padding-bottom: 15px;
            }
        }

        &.row-price-block {
            .col-price {
                padding: 0px 0 8px 0;
                background: $price-background;
                color: $white;
                vertical-align: bottom;
                border-radius: 5px 5px 0 0;
                @include responsive($media-xsmall) {
                    padding: 0px 0 15px 0;
                }
                @each $plan in $plans {
                    $i: index($plans, $plan);
                    &.col-item-#{$i} {
                        background: $plan;
                        .col-label {
                            background: darken($plan, 10%);
                        }
                    }
                }
                >span {
                    display: block;
                }
                .col-label {
                    background: darken($highlighted-color, 10%);
                    border-radius: 5px 5px 0 0;
                    @include responsive($media-xsmall) {
                        font-size: 14.4px;
                    }
                }
                .price-rate, .price-rate-annual {
                    font-size: 14px;
                    @include responsive($media-xsmall) {
                        font-size: 25px;
                    }
                }
                @extend %common-price-rate;
                .col-text {
                    font-size: 11.2px;
                }
                &.item-highlight {
                    background: #ED4D13;
                    .col-label {
                        background: darken(#ED4D13, 10%);
                        position: relative;
                        top: -12px;
                    }
                    .price-rate, .price-rate-annual {
                        font-size: 19px;
                        line-height: 1.42;
                        @include responsive($media-xsmall) {
                            font-size: 32px;
                        }
                    }
                }
            }
        }
        &.row-details {
            &:nth-child(odd) {
                .col-price {
                    background: #FBFAF7 !important;
                }
            }
            .col-price {
                padding-right: 12px;
                @include responsive($media-xsmall) {
                    padding-right: 21px;
                }
                .col-desc {
                    cursor: pointer;
                    .glyphicon-chevron-down, .glyphicon-chevron-up {
                        top: 14px;
                    }
                }
            }
        }
    }

    .plan-details {
        display: none;
        font-size: 0.8em;
    }

    .has-no-plan {
        cursor: auto;
        color: lighten($text-color, 50%);
        text-decoration: line-through;
        .glyphicon {
            display: none;
        }
    }
    @extend %common-price-rate;
}

.pricing-calculation {
    padding: 80px 15px;
    #pricing-in-slider {
        margin-top: 20px;
        width: 100%;
    }
    .price-panel {
        border: 1px solid #ddd;
        border-radius: 5px 5px 0 0;
        .panel-heading {
            background: $black;
            color: $white;
            padding: 0px 0 15px;
            border-bottom: 1px solid #ddd;
            text-align: center;
            font-size: 12px;
            border-radius: 5px 5px 0 0;
            h5, p {
                margin-top: 0px;
            }
            h5 {
                background: lighten($black, 15%);
                padding: 4px 0;
                margin-bottom: 5px;
                position: relative;
                border-top: 1px solid lighten($black, 15%);
                border-radius: 5px 5px 0 0;
            }
        }
        .panel-body {
            padding: 15px;
        }
    }
}

.plans-support {
    >.row>div {
        margin-top: 25px;
    }
    .icon-plans {
        max-width: 30px;
        max-height: 30px;
    }
}