---
layout: default
---

<div class="home">

  <article>
    <section class="container">
      <div class="row">
        <aside class="col col-sm-12 min-300">
          <h3>onCourse is the 

          {% include_relative _formatter/text-highlighted.html text="comprehensive" data-text="Track your students from initial enquiry, to application, enrolment, invoicing and payment. Follow their training, assessments and certification. onCourse includes unlimited document storage, sophisticated finance and budgeting and a robust communications platform." %}

          {% include_relative _formatter/text-highlighted.html text="online enrolment" data-text="Publish courses online with a single click and watch in real time as applications, enrolments and payments stream into your system. Your students access the integrated portal to download learning and assessment documents, are reminded of upcoming classes and locations and honour their payment plans day and night." %}

          and

          {% include_relative _formatter/text-highlighted.html text="marketing system" data-text="You need to see what courses work and what don’t, and then do something about it. Send SMS and emails crafted to a student’s interests and history, inviting them to re-engage with you. Offer differentiated pricing for every type of student with discounts, promotional codes, early bird discounts, gift certificates and vouchers. onCourse gives you a whole bunch of tools to target each student’s individual needs." %}

          for all

          {% include_relative _formatter/text-highlighted.html text="education providers" data-text="For government and commercial, for big and for small, our scalable and clustered cloud technology means your services stay online. Whether you are a Registered Training Organisation (RTO) in the contestable funding market space, or are a fee-for-service provider who has no need to know about acronyms like AVETMISS, CRICOS and VET Fee Help, onCourse has you covered." %}
          </h3>

          <p>{% include_relative _formatter/text-highlighted.html text="Integrate" data-text="A fully integrated management database, online enrolment website and portal is included in your standard onCourse package, out of the box. From there, switch on integrations with survey tools, mailing list management services, learning management systems and finance software. And if you need a custom integration, you can have that too - with our API and onCourse DSL (an entire development language baked in)." %}

          with everything and

          {% include_relative _formatter/text-highlighted.html text="automate" data-text="Need automated communication to your students and staff? Consider it done. Completely customisable scripts, reports, imports, exports and email templates give you the ultimate power and flexibility in implementing your own business workflow." %}

          your manual processes. We create

          {% include_relative _formatter/text-highlighted.html text="beautiful websites." data-text="Start with one of our modern, responsive templates and then customise to your heart’s content. With an advanced architecture built to maximise your SEO, exceptional Solr faceted search engine and an enrolment ready shopping cart, you’ll be processing online sales within minutes of sending your site live." %} </p>
          <p><a href="#" class="btn btn-secondary" role="button" >Try the onCourse demo</a></p>
          <div class="clearfix code-display">
            <p class="show-highlighted-text">
              [ Click underlined text to learn more. ]
            </p>
          </div>
        </aside>
        <aside class="col col-sm-12 min-300">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/S89TcY2KbVk" frameborder="0" allowfullscreen></iframe>
          </div>
        </aside>
      </div>
    </section>
    <section class="container block-lists site-list">
      <ul class="col-sm-24">
        <li class="col-sm-6">
          <a href="#">
            {% include_relative _formatter/home-block.html header="Sydney University CCE" header-color="#007a87" image="/assets/img/icons/no-preview-courses.png" title-class="h2" title="Watch" text="<p>Study Film and Cinema with the iconic David Stratton</p>" %}
          </a>
        </li>
        <li class="col-sm-6">
          <a href="#">
            {% include_relative _formatter/home-block.html header="NIDA" header-color="#e27145" image="/assets/img/icons/no-preview-courses.png" title-class="h2" title="Act" text="<p>Dream big with Drama courses around Australia</p>" %}
          </a>
        </li>
        <li class="col-sm-6">
          <a href="#">
            {% include_relative _formatter/home-block.html header="WEA Hunter" header-color="#0f46ab" image="/assets/img/icons/no-preview-courses.png" title-class="h2" title="Certify" text="<p>Dance your way to a Diploma of Musical Theatre </p>" %}
          </a>
        </li>
        <li class="col-sm-6">
          <a href="#">
            {% include_relative _formatter/home-block.html header="Sydney Conservatorium" header-color="#393c3d" image="/assets/img/icons/no-preview-courses.png" title-class="h2" title="Play" text="<p>Get your Guitar on at The Con Open Academy</p>" %}
          </a>
        </li>
      </ul>
    </section>

    <section class="container block-lists site-list">
      <ul class="col-sm-24">
        <li class="col-sm-6">
          <a href="#">
            {% include_relative _formatter/home-block.html header="onCourse SMS" header-color="#007a87" image="/assets/img/icons/no-preview-courses.png" title-class="h2" title="Report" text="<p>Data in, data out: reporting formats of all flavours</p><p><u>Love your scheduling system</u></p>" %}
          </a>
        </li>
        <li class="col-sm-6">
          <a href="#">
            {% include_relative _formatter/home-block.html header="onCourse Web" header-color="#393c3d" image="/assets/img/icons/no-preview-courses.png" title-class="h2" title="Sell" text="<p>Special online enrolment rates for mates</p><p><u>Love your flexible discounts</u></p>" %}
          </a>
        </li>
        <li class="col-sm-6">
          <a href="#">
            {% include_relative _formatter/home-block.html header="Student Portal" header-color="#e27145" image="/assets/img/icons/no-preview-courses.png" title-class="h2" title="Learn" text="<p>Distribute documents, results and certifications</p><p><u>Love your automated emails</u></p>" %}
          </a>
        </li>
        <li class="col-sm-6">
          <a href="#">
            {% include_relative _formatter/home-block.html header="Tutor Portal" header-color="#0f46ab" image="/assets/img/icons/no-preview-courses.png" title-class="h2" title="Mark" text="<p>Real time attendance and outcome marking</p><p><u>Love your tick and flick</u></p>" %}
          </a>
        </li>
      </ul>
    </section>
  </article>

</div>