<footer>
  <div class="container">
    <div class="row">

      <div class="col-md-24">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-24">
            <h4>Products</h4>
            <ul>
              <li>onCourse SMS</li>
              <li>onCourse portal/LMS</li>
              <li>onCourse website</li>
              <li><a href="{{base}}/pricing/">Pricing</a></li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-24">
            <h4>Resources</h4>
            <ul>
              <li><a href="{{base}}/support/">Documentation</a></li>
              <li><a href="{{base}}/support/">Support</a></li>
              <li><a href="{{base}}/about/">About us</a></li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-24 address-block">
            <h4>Contact ish</h4>
            Sydney <a href="tel:+61 2 9550 5001">02 9550 5001</a><br>
            Melbourne <a href="tel:+61 3 9999 1033">03 9999 1033</a><br>
            <a href="mailto:info@ish.com.au">info@ish.com.au</a>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-24">
            <a role="button" href="http://eepurl.com/_FU1f" class="btn btn-secondary">Subscribe to our monthly newsletter</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="{{ site.paths.js }}/jquery-3.1.0.js"></script>
<script type="text/javascript" src="{{ site.paths.js }}/tether.min.js"></script>
<script type="text/javascript" src="{{ site.paths.js }}/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.paths.js }}/bootstrap-slider.js"></script>
<script type="text/javascript" src="{{ site.paths.js }}/bootstrap-toggle.js"></script>
<script type="text/javascript" src="{{ site.paths.js }}/app.js"></script>