<!-- A map showing the location of the ish office -->
<script>
  var map;
  function initMap() {
    var ish = {lat: -33.8963, lng: 151.1812};
    map = new google.maps.Map(document.getElementById('map'), {
      center: ish,
      zoom: 15
    });

    var marker = new google.maps.Marker({
      position: ish,
      map: map,
      animation: google.maps.Animation.DROP,
      title: 'ish office'
    });

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>


[gmap markers=green::-33.8963,151.1812 |zoom=15 |center=-33.89631653249786,151.18123054504395 |width=600px |height=400px |control=Small |type=Map]