<!-- A map showing the location of the ish office -->
<script>
  var map;
  function initMap() {
    var ish = {lat: -33.8963, lng: 151.1812};
    map = new google.maps.Map(document.getElementById('map'), {
      center: ish,
      zoom: 15
    });

    var marker = new google.maps.Marker({
      position: ish,
      map: map,
      animation: google.maps.Animation.DROP,
      title: 'ish office'
    });

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>