<li class="col-lg-6 col-sm-12 col-xs-24">
<a href="#">
<span class="clearfix home-site-item">
    {% if include.panel.header %}
        <span class="clearfix block-header">
            <span style="background: {{ include.panel.color | default '#black'}}">{{ include.panel.header }}</span>
        </span>
    {% endif %}

    <span class="clearfix block-image">
        {% if include.panel.image %}
            <img src="{{ site.paths.img }}/front/{{ include.panel.image }}" />
        {% endif %}
    </span>

    <span class="clearfix block-content">
        <span class="block-title {{ include.panel.title-class | default 'h2' }}">{{ include.panel.title }}</span>
        <span class="clearfix block-text">
            <p>{{ include.panel.text }}</p>
            <p class="block-helped">Learn how onCourse helped.</p>
        </span>
    </span>
</span>
</a>
</li>