---
---
@charset "utf-8";

/* Bootstrap */
$grid-columns: 24;
$enable-flex: true;

$black: #000;
$white: #fff;

$imgPath: '/assets/img/';

// Our variables
$base-font-family: 'Merriweather', serif;
$base-font-size:   15px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$spacing-unit:     20px;

$text-color:       #3a4145;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$text-highlight:   #5C0421;

$site-header-background: #eeeeee;
$menu-color:       #888;
$menu-color-hover: #3a4145;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$xsmall-screen: 544px;
$small-screen: 768px;
$tablet-screen: 992px;
$desktop-screen: 1200px;

$media-xsmall: 'xsmall';
$media-small: 'small';
$media-tablet: 'tablet';
$media-desktop: 'desktop';
$media-custom: 'custom';


/* Footer */
$footer-bg: $black;
$footer-text-color: $white;

/* Sidebar */
$sidebar-right: "on";
$content-width: 70%;
$sidebar-width: 30%;


/* Navigation */
$children-item-color-hover: #2b2d2f;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


/* Bootstrap */

//@import "bootstrap-sprockets";
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-flex";
@import "bootstrap/bootstrap-grid";
@import "bootstrap-slider/bootstrap-slider";

@import "bootstrap-toggle";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "icons",
        "glyphicon",
        "base",
        "sidebar",
        "layout",
        "pricing",
        "footer",
        "syntax-highlighting",
        "callouts"
;
