---
---
@charset "utf-8";

/* Bootstrap */
$grid-columns: 24;

$black: #000;
$white: #fff;

// Our variables
$base-font-family: 'Cardo', serif;
$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     20px;

$text-color:       #222;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$site-header-background: #eeeeee;
$menu-color:       #888;
$menu-color-hover: #222;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$small-screen: 600px;
$tablet-screen: 800px;
$desktop-screen: 1024px;

$media-small: 'small';
$media-tablet: 'tablet';
$media-desktop: 'desktop';
$media-custom: 'custom';


/* Footer */
$footer-bg: $black;
$footer-text-color: $white;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


/* Bootstrap */

//@import "bootstrap-sprockets";
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-grid";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base",
        "layout",
        "footer",
        "syntax-highlighting"
;
