<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="clearfix container">
        <aside id="sidebar" class="{% if page.sidebar != true %} hidden-xs-up{% endif %}" data-item="{{ page.sidebar_item }}">
          <div class="dy-content">

          </div>
        </aside>

        <aside id="content" class="{% if page.sidebar != true %}full-content{% endif %}">
          {{ content }}
        </aside>
      </div>
    </div>

    {% include footer.html %}

  </body>
{% if page.footer %}
  {% for snippet in page.footer %}
    {% include {{snippet}} %}
  {% endfor %}
{% endif %}
{% include analytics.html %}
</html>